# ignore files

history
recentf
smex-items
projects
custom.el
.mc-lists.el
tabsession.el
*.eld
*\~

# ignore dirs

backup/
elpa/
site-lisp/
auto-save-list/
tree-sitter/
transient/
games/
elfeed/
url/
eaf/
